body {
  font-family: Nunito;
  background-color: #3a666846;
  margin: 0 auto;
}
.tabs {
  margin: 0 auto;
  max-width: 970px;
}
.tabs .btn-tabs {
  display: flex;
  justify-content: center;
}
button {
  width: 350px;
  margin-right: 10px;
  height: 60px;
  font-size: 1.5rem;
  color: rgb(6, 5, 14);
  background-color: rgb(18, 169, 180);
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  padding: 0px;
  border: 0px;
}
button:last-child {
  margin: 0px;
}
button:hover {
  background-color: #5a19788c;
  border: 2px solid green;
}
button:focus {
  background-color: green;
}
.is-active {
  background-color: green;
  display: block !important;
}
.text-container {
  width: 100%;
  background-color: rgb(18, 169, 180);
  height: 100%;
}
.text {
  display: none;
}
.text p {
  padding: 50px;
  background-color: green;
}
h1 {
  text-align: center;
  margin: 50px 0 50px 0;
}
